.signinContainer {
  padding: 0.75rem;
  max-width: 32rem;
  margin-left: auto;
  margin-top: 10px;
  margin-right: auto;
}

.signinTitle {
  font-size: 1.875rem;
  text-align: center;
  font-weight: 600;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputContainer h4 {
  font-weight: 500;
}

.inputUsername {
  background-color: #f8fafc;
  border-radius: 0.5rem;
  padding: 0.75rem;
}

.inputEmail {
  background-color: #f8fafc;
  border-radius: 0.5rem;
  padding: 0.75rem;
}

.inputPassword {
  background-color: #f8fafc;
  border-radius: 0.5rem;
  padding: 0.75rem;
}

.signinButton {
  background-color: #003580;
  border: none;
  color: #ffffff;
  padding: 0.75rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  transition: opacity 0.3s;
  margin: 20px 0 10px 0;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  :hover {
    opacity: 0.95;
  }
  cursor: pointer;
  opacity: 0.8;
}

.signupContainer {
  display: flex;
  gap: 0.5rem;
  margin-top: 1.25rem;
}

.signupLink {
  color: #129ae9;
  text-decoration: none;
}
