.navbar {
  height: 50px;
  background-color: #003580;
  display: flex;
  justify-content: center;
}

.navbarContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.navbarContainer a {
  text-decoration: none;
  color: white;
}

.logo {
  font-size: 25px;
  font-weight: 700;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
}

.navbarButton {
  font-weight: 600;
  margin-left: 20px;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
}
